@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
}


.basetext {
  font-size: calc(16vw * 100 / 1440);
}

.tbase {
  padding-top: calc(30vh * 100 / 900);
  padding-bottom: calc(30vh * 100 / 900)
}

.t2base {
  padding-top: calc(43vh * 100 / 900);
}

.lbase {
  margin-left: calc(56vw * 100 / 1440);
}

.wbase {
  width: calc(568vw * 100 / 1440);
}

.box-sh {
	background: #2F75C6;
	box-shadow: 0px 1px 3px 0px rgba(50, 50, 71, 0.10), 0px 0px 1px 0px rgba(12, 26, 75, 0.20);
}

.main-c {
	display: grid;
	grid-template-columns: 3fr 6fr 3fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
	". . . . .";
}

#navbar {
	position: sticky;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	opacity: 0.75;
}

.scroll-color {
  scrollbar-color: #183d68 #225591;
}
